{% extends 'index.html'%}


{% block header%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ character.char_name }}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/character.css') }}">
</head>
{% endblock %}
<html>
<body>
{% block content %}
    <div class="page-wrapper">

        <div class="character-box">

            <div class="left">
                <img src="/{{ character.img_url }}" alt="{{ character.char_name }}">
            </div>

            <div class="right">
                <h1>{{ character.char_name }}</h1>
                <h3>{{ character.anime_name }}</h3>

                <p class="desc">{{ character.description }}</p>

                <div class="info">
                    <p><b>Age:</b> {{ character.age }}</p>
                    <p><b>Gender:</b> {{ character.gender }}</p>
                    <p><b>Height:</b> {{ character.height }}</p>
                    <p><b>Birthday:</b> {{ character.birthday }}</p>
                </div>
            </div>

        </div>

    </div>


{% endblock %}
</body>
</html>