<!DOCTYPE html>
<html lang="en">

{% block header %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
{% endblock %}
<body>
    <!-- Header OUTSIDE flex center -->
    <header class="header">
        <div class="header-left">⭐ Comfort Characters </div>
        <div class="header-right">Characters</div>
    </header>
    {% block content %}
    <!-- Flex container to center the cards -->
    <div class="center-wrapper">
        <div class="card-container">
            {% for row in rows %}
            <a href="/character/{{ row.id }}" class="card-link">
    <div class="card">
        <img src="{{ row.img_url }}" class="card-img">
        <div class="card-name">{{ row.char_name }}</div>
        <div class="card-anime">{{ row.anime_name }}</div>
    </div>
</a>
            {% endfor %}
        </div>
    </div>
    {% endblock %}
    <!-- Footer OUTSIDE flex center -->
    <footer class="footer">
        © 2025  Made by withhloveee. Built with Flask.
    </footer>

</body>
</html>
